* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

section {
    height: 100vh;
}

.mask {
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    //margin: 0 4em;
    height: 100vh;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: inherit;
    position: relative;

    img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .border {
        margin: .5em 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid black;
        transform-origin: left;
    }

    .info {
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        p {
            margin: 0;
            text-transform: uppercase;
            font-size: .9rem;
        }

        span {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

section.gallery ul {
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
}

.intro {
    display: grid;
    place-content: center;
    background: rgb(237, 237, 255);
}
