body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #0F987F;
    color: white;
}

img, .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0 0 12em 0;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    letter-spacing: -0.05em;
}

.mask {overflow: hidden;}

.loader {
    width: 100%;
    height: 1px;
    background: #fff;
    z-index: -1;
}