body {
    margin: 0;
    height: 100vh;
    background-color: #E0E1B7;
    font-family: 'Inter', sans-serif;
}

section {
    height: 100vh;
}

.mask {
    overflow: hidden;
}

section.primary {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10em;
    overflow: hidden;

    aside {
        flex: .7;
        text-align: right;
        font-family: 'Playfair Display';

        h1 {
            font-size: 5rem;
            margin: 0;
        }

        p {
            font-size: 2.5rem;
            font-style: italic;
            margin-top: -.5em;
        }
    }

    main {
        flex: 1;

        p {
            width: 70%;
            line-height: 1.7rem;
            margin-bottom: 4em;
        }
    }
}

.line, span {
    position: absolute;
}

.line {
    height: 100vh;
    top: 0;
    left: 42%;
    width: 1px;
    border-right: 1px solid black;
}

span {
    font-size: 40rem;
    font-family: 'Playfair Display';
    opacity: 0.07;
    z-index: -1;
    transform: translateX(53%)
}
