body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
        width: 250px;
        height: 250px;
        background: blue;
        border-radius: 50%;
        display: grid;
        place-content: center;
        color: white;
        font-weight: bold;
        font-size: 3rem;
        cursor: pointer;
    }
}