body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
}

.mask {
    overflow: hidden;
    position: relative;
}


img {
    width: 100%;
    height: 80vh;
}

section {
    display: flex;
    justify-content: space-between;
    gap: 4em;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 3rem;
    font-style: italic;
    margin: 0;
}

p.white {
    color: white;
}