body {
    margin: 0;
    height: 100vh;
    place-content: center;
    background: #7000FF;
}

main {
    display: flex;
    flex: 1;
    height: 100vh;
    cursor: pointer;

    .left, .right {
        display: grid;
        place-content: center;
        width: 50%;
        height: 100vh;
    }

    .left {
        background: #131313;
    }

    .emoticon {
        width: 300px;
        height: 300px;
        background: #7000FF;
        border-radius: 50%;
        display: grid;
        place-content: center;

        .eyes {
            display: flex;
            gap: 4em;
            margin-top: 30px;

            .eye {
                background: #131313;
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }

        .mouth {
            margin: 2em 0 0 .5em;
            stroke: #131313;
        }
    }

    .right .emoticon {
        background: #131313;
        border-radius: 1em;

        .eye {
            background: #7000FF;
        }

        .mouth {
            stroke: #7000FF;
            transform: rotate(180deg);
        }
    }


}